<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>UKA21 WebSim</title>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no' />
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/control.css" rel="stylesheet">
    <style>
        body {
            margin: 0;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
          <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <h1>Available Signs:</h1>
            <div id="sign_list" class="list-group">
                <a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Loading signs...Please wait</a>
            </div>
          </main>
        </div>
      </div>

    <script type="module">
        function htmlToElement(html) {
            var template = document.createElement('template');
            html = html.trim(); // Never return a text node of whitespace as the result
            template.innerHTML = html;
            return template.content.firstChild;
        }

        fetch("api/signs.json").then(resp => resp.json()).then(data => {
                
            const elem_list = document.getElementById("sign_list");
            elem_list.innerHTML = "";
            
            for (const sign_name of data) {
                const elem = htmlToElement('<a href="simulator?sign='+sign_name+'" class="list-group-item list-group-item-action">'+sign_name.toUpperCase()+'</a>');
                elem_list.appendChild(elem);
            }
        });
    </script>
</body>
</html>