<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>UKA21 WebSim</title>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no' />
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/control.css" rel="stylesheet">
    <style>
        body {
            margin: 0;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        {% include "navbar.html" %}
        <div class="row">
          <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
              <div style="max-width: 60em;">
                    {% if message %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                    {% endif %}
                    <h1>Login:</h1>
                    <form method="POST">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">$</span>
                            <input type="password" name="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                            <input type="submit" class="btn btn-outline-secondary" id="button-addon2" value="Login!"/>
                        </div>
                    </form>
                </div>
          </main>
        </div>
      </div>
</body>
</html>